body {
    padding-top: 5rem;
}

div#draw-box {
    margin: auto;
    text-align: center;
    width: 60%;
    height: 70vh;
    border: 3px solid black;
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

::-webkit-selection {
    background: none;
}

button {
    margin: 0 0.5rem;
    /* font-family: 'comfortaa'; */
    font-size: 3rem;
    border-radius: 0.5rem;
    /* padding: 0.5rem 1rem; */
    border: 2px solid black;
    text-decoration: none;
}

div.btn {
    margin: auto;
    padding-top: 1rem;
    text-align: center;
}

button#go-time {
    color: aliceblue;
    background-color: aquamarine;
}

button#stop-time {
    color: aliceblue;
    background-color: tomato;
}
