body {
    /* padding-top: 5rem; */
    margin: 0;
    padding: 0;
}

div#draw-box {
    margin: auto;
    text-align: center;
    width: 60%;
    height: 70vh;
    border: 3px solid black;
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

::-webkit-selection {
    background: none;
}

button {
    background: none;
    margin: 0 0.5rem;
    font-size: 3rem;
    border: none;
    text-decoration: none;
}

button:hover {
    transform: scale(1.15, 1.15);
}

div.btn {
    margin: auto;
    padding-top: 1rem;
    text-align: center;
}
