/* body {
    margin: 0;
    padding: 10px;
} */

label {
    font-family: comfortaa;
}

div.container {
    display: grid;
    grid-template-columns: 260px auto 260px;
}

div#controls-right,
div#controls-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}


div#draw-box {
    justify-self: center;
    width: 95%;
    height: 95vh;
    border: 9px solid black;
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

::-webkit-selection {
    background: none;
}

div.btn-div {
    margin-top: 3px;
    border-top: 3px solid black;
    text-align: center;
}

button {
    background: none;
    /* margin: 0 0.5rem; */
    font-size: 3rem;
    border: none;
    text-decoration: none;
}

button:hover {
    transform: scale(1.15, 1.15);
}
